<div class="layout-row">
  <section class="layout-column align-items-center justify-content-center d-flex">
      <input type="text" data-test-id="app-input-name" required placeholder="Name" [(ngModel)]="items.name"/>
      <input type="text" data-test-id="app-input-genre" required placeholder="Genre" [(ngModel)]="items.genre" />
      <input type="text" data-test-id="app-input-creator" required placeholder="Creator" [(ngModel)]="items.creator" />
      <form>
        <label><input class="radioButton" data-test-id="app-input-book-type" type="radio" name="type" value="Book"
          [(ngModel)]="items.type" (click)="checkrad()">Book</label>
        <label><input class="radioButton" data-test-id="app-input-song-type" type="radio" name="type" value="Song"
          [(ngModel)]="items.type" (click)="checkrad()">Song</label>
      </form>
      <div *ngIf="items.type === 'Song'">
        <input data-test-id="app-input-time" type="number" placeholder="Total Time" [(ngModel)]="items.totalTime" />
      </div>
  </section>
  <section class="layout-row justify-content-center align-items-center">
      <button data-test-id="add-button" class="w-30" (click)="addItem($event)">Add</button>
  </section>
</div>
