.sidebar {
  border-right: 1px solid rgba(0, 0, 0, .12);
  font-size: 14px;
  overflow-y: auto;
  transition: transform .15s cubic-bezier(.4, 0, .2, 1);
  width: 320px;
  z-index: 5;
  margin: 0;
  padding: 0 0 10px 0;
  height: calc(100vh - 60px);
}
