<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center d-flex" data-test-id="page-number-buttons">

    <button  *ngFor="let p of total_pages; let i=index" (click)="click(i + 1)">
      {{i + 1}}
    </button>
  </section>

  <ul class="mt-50 styled" data-test-id="football-competitions">
    <li  class="slide-up-fade-in py-10" *ngFor="let f of football?.data; let i = index">
      Competition {{f.name}} won by {{f.winner}} in year {{f.year}}</li>
  </ul>
</div>
