<div class="layout-column align-items-center justify-content-center">
  <div class="card pb-8">
    <table
      [attr.data-test-id]="this.dataType === 'Song' ? 'song-table' : 'book-table'"
    >
      <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Creator</th>
        <th *ngIf="dataType === 'Song'">Time</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of dataList; let idx = index;" id="list-item-{{idx}}">
        <td data-test-id="item-name">{{item.name}}</td>
        <td data-test-id="item-genre">{{item.genre}}</td>
        <td data-test-id="item-creator">{{item.creator}}</td>
        <td *ngIf="item.type === 'Song'">
          <div class="layout-row align-items-center">
            <i class="play material-icons mr-4">play_circle_outline</i>
            <span data-test-id="item-time">{{item.totalTime}}</span>
          </div>
          </td>
        <td><button class="icon-only mx-2" data-test-id="item-delete" (click)="deleteItem(idx)"><i class="delete material-icons">delete</i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
